ClientPrint/Service References/PrintServiceRef/LicenseManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LicenseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LicenseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LicStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaysExpire" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseType" type="tns:LicenseTypes" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statuses" type="tns:LicenseStatuses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicStatus" nillable="true" type="tns:LicStatus" />
  <xs:simpleType name="LicenseTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Demo" />
      <xs:enumeration value="Full" />
      <xs:enumeration value="Infinity" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LicenseTypes" nillable="true" type="tns:LicenseTypes" />
  <xs:simpleType name="LicenseStatuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoLicenseFile" />
      <xs:enumeration value="Activated" />
      <xs:enumeration value="Deactivated" />
      <xs:enumeration value="Overdue" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Invalid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LicenseStatuses" nillable="true" type="tns:LicenseStatuses" />
</xs:schema>