ClientPrint/Service References/PrintServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DeviceNetBase.Device" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DeviceNetBase.Enums" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LicenseManager" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Print">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="check" nillable="true" type="q1:CheckBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="report" nillable="true" type="q2:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintReportResult" nillable="true" type="q3:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCancelCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="cancel" nillable="true" type="q4:CancelCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCancelCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintCancelCheckResult" nillable="true" type="q5:CancelCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTextFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" minOccurs="0" name="text" nillable="true" type="q6:TextFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTextFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" minOccurs="0" name="PrintTextFileResult" nillable="true" type="q7:TextFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCash">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="cash" nillable="true" type="q8:Cash" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintCashResult" nillable="true" type="q9:Cash" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="check" nillable="true" type="q10:Check" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintCheckResult" nillable="true" type="q11:Check" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCheckCorrection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="check" nillable="true" type="q12:CheckCorrection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCheckCorrectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintCheckCorrectionResult" nillable="true" type="q13:CheckCorrection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" minOccurs="0" name="order" nillable="true" type="q14:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" minOccurs="0" name="PrintOrderResult" nillable="true" type="q15:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOpenDrawer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="open" nillable="true" type="q16:OpenDrawer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOpenDrawerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintOpenDrawerResult" nillable="true" type="q17:OpenDrawer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOpenShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="openShift" nillable="true" type="q18:OpenShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOpenShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintOpenShiftResult" nillable="true" type="q19:OpenShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" minOccurs="0" name="barcode" nillable="true" type="q20:BarcodeDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" minOccurs="0" name="PrintBarcodeResult" nillable="true" type="q21:BarcodeDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DeviceId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="OpenShiftResult" nillable="true" type="q23:TupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CloseShiftResult" nillable="true" type="q25:TupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DeviceNetBase.Device" minOccurs="0" name="fr" nillable="true" type="q26:DeviceSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKKMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DeviceNetBase.Device" minOccurs="0" name="GetDevicesResult" nillable="true" type="q27:ArrayOfDeviceSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeviceIdsResult" nillable="true" type="q28:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DeviceId" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DeviceNetBase.Device" minOccurs="0" name="GetDeviceSettingsResult" nillable="true" type="q30:DeviceSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DeviceNetBase.Device" minOccurs="0" name="fr" nillable="true" type="q31:DeviceSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DeviceNetBase.Enums" minOccurs="0" name="UpdateKKMResult" type="q32:ErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="devceID" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DeviceNetBase.Enums" minOccurs="0" name="DeleteKKMResult" type="q34:ErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsCountFromDBase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsCountFromDBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportsCountFromDBaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOperationFN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="parameters" nillable="true" type="q35:ParametersFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOperationFNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="PrintOperationFNResult" nillable="true" type="q36:ParametersFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChecksCountFromDBaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBaseByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBaseByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChecksCountFromDBaseByNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBaseByNumberAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBaseByNumberAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChecksCountFromDBaseByNumberAndDateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBaseByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksCountFromDBaseByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChecksCountFromDBaseByDateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetCheckFromDBResult" nillable="true" type="q37:Check" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsFromDBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsFromDBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetReportsFromDBaseResult" nillable="true" type="q38:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetChecksFromDBaseResult" nillable="true" type="q39:ArrayOfCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBaseByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBaseByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetChecksFromDBaseByDateResult" nillable="true" type="q40:ArrayOfCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBaseByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBaseByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetChecksFromDBaseByNumberResult" nillable="true" type="q41:ArrayOfCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBaseByNumberAdnDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksFromDBaseByNumberAdnDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetChecksFromDBaseByNumberAdnDateResult" nillable="true" type="q42:ArrayOfCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdByDeviceName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdByDeviceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetDeviceIdByDeviceNameResult" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Dockid" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DeviceNetBase.Documents" minOccurs="0" name="GetDocumentHistoryResult" nillable="true" type="q45:ArrayOfDocumentHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DeviceID" type="q46:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DeviceNetBase.Device" minOccurs="0" name="GetDeviceStatusResult" nillable="true" type="q47:FRStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKKTParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DeviceID" type="q48:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKKTParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DeviceNetBase.Device" minOccurs="0" name="GetDeviceKKTParametersResult" nillable="true" type="q49:FRParametersKKT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetCheckResult" nillable="true" type="q51:Check" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ID" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetDocStatusResult" nillable="true" type="q53:TupleOfintstringintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q54:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PrintServiceBase.Check" minOccurs="0" name="GetReportResult" nillable="true" type="q55:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPrinted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPrintedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPrintedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCliche">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DeviceId" type="q57:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintClicheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintClicheResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q58:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSummResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q60:guid" />
        <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Activate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLicenseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLicenseRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLicenseRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLicenseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLicenseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportLicenseStringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseSerial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseSerialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseSerialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLicenseAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLicenseAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLicenseAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/LicenseManager" minOccurs="0" name="GetLicenseStatusResult" nillable="true" type="q61:LicStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseExpireDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseExpireDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseExpireDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemoDocCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemoDocCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDemoDocCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerialHDD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerialHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSerialHDDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DeviceId" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetStatusParametersResult" nillable="true" type="q63:TupleOflonglongdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q64:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="PrintCopyResult" nillable="true" type="q65:TupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinuePrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q66:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinuePrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContinuePrintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCharLengthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q68:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceStartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceStopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeOut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetTimeOutResult" type="q70:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>